<header class="shadowBorder">
    <h1>|Libritos zone|</h1>
    <div class="normalMenu">
      <nav>
        <ul class="fontMenuStyles">
            <li><a href="/home"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/books"><i class="fa-solid fa-book"></i> Libros</a></li>
            <li><a href="/shoppingCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li><a href="/aboutUs"><i class="fa-solid fa-circle-info"></i> Sobre nosotros</a></li>
        </ul>
      </nav>
    </div>
    <div class="respmenu">
        <input type="checkbox">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <nav>
          <ul class="fontMenuStyles">
            <li><a href="/home"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/books"><i class="fa-solid fa-book"></i> Libros</a></li>
            <li><a href="/shoppingCart"><i class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li><a href="/aboutUs"><i class="fa-solid fa-circle-info"></i> Sobre nosotros</a></li>
          </ul>
        </nav>
      </div>
</header>
