main{
    margin-top: 100px;
}

.comboContainer{
    width: 100%;
    height: 250px;
}

h2{
    color: #7299a5;
    text-shadow: 3px 3px 5px lightblue;
}

h2 a{
    text-shadow: 3px 3px 5px lightblue;
    color: #6dbbd3;
    transition: 0.5s;
}

h2 a:hover{
    font-size: xx-large;
    color: #73b5c9;
}

.topBooksSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}