<main>
    <h2>ofertas y combos</h2>
    <app-complete-slider containerID="oferts" [slideshow]="['10 libros 10 pesos','20 libros 20 pesos','y 30 son 30','y si te digo que 40']"></app-complete-slider>
    <h2>Novedades</h2>
    <app-book-slider containerID="news" [slideBooks]="newsBooks"></app-book-slider>
    <div class="topBooksSection">
        <h2><a href="/books"> Ver catalogo de libros </a></h2>
        <br><br><br>
        <h2>Top 10 libros mas vendidos</h2>
        <app-titles-list></app-titles-list>
    </div>
</main>